BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
Cpp11BracedListStyle: Block
ColumnLimit: 0
SortIncludes:
  Enabled: false
