# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
Diagnostics:
  UnusedIncludes: Strict
CompileFlags:
  Add:
    - -xc
    - -Iinclude
    - -Ideps/gl3w/include
    - -Ideps/SDL/include
    - -Ideps/gd_math/include
    - -std=c11
    - -Wall
    - -Wextra
    - -Wno-missing-braces
    - -DGDRENDERER_SOURCE
    - -DGDOBJECT_SOURCE
---
If:
  PathMatch: (^|.*/)(tests|include)/.*\.(c|h)$
CompileFlags:
  Add:
    - -I../include
    - -I../deps/gl3w/include
    - -I../deps/SDL/include
    - -I../deps/gd_math/include
